@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: block;
  }
  .hero {
    flex-direction: column;
  }
   .two {
    font-size: 1.75rem;
  }
  .aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
  }
.img img{
height:275px;
  width:275px;
}
}

