@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: block;
  }
  .hero {
    flex-direction: column;
  }
  .aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
  }
}

